.base-icon {display:inline-block; overflow:hidden; vertical-align: middle; background-repeat: no-repeat;background-image:url(../images/base-icon.png);transform: scale(.8)}

.action-delete {width:25px; height:25px; background-position: -1px -38px}
.action-edit {width:25px; height:25px; background-position: -28px -38px}
.action-preview {width:25px; height:25px; background-position: -55px -38px}
.icon-add {width:25px; height:25px; background-position: -235px -1px}
.icon-facebook {width:17px; height:30px; background-position: -242px -28px}
.icon-m1 {width:30px; height:30px; background-position: -82px -33px}
a.active .icon-m1 {width:30px; height:30px; background-position: -75px -1px}
.icon-m2 {width:30px; height:30px; background-position: -114px -33px}
a.active .icon-m2 {width:30px; height:30px; background-position: -107px -1px}
.icon-m3 {width:30px; height:30px; background-position: -146px -33px}
a.active .icon-m3 {width:30px; height:30px; background-position: -139px -1px}
.icon-m4 {width:30px; height:30px; background-position: -178px -33px}
a.active .icon-m4 {width:30px; height:30px; background-position: -171px -1px}
.icon-m5 {width:30px; height:30px; background-position: -210px -33px}
a.active .icon-m5 {width:30px; height:30px; background-position: -203px -1px}
.menu-back {width:16px; height:30px; background-position: -261px -28px}
.menu-filter {width:35px; height:35px; background-position: -1px -1px}
.menu-search {width:35px; height:35px; background-position: -38px -1px}

.base-menu-icon {display:inline-block; overflow:hidden; vertical-align: middle; background-repeat: no-repeat;background-image:url(../images/main-menu.png);transform: scale(.58);margin-top:-0.25rem;}
.main-1 {width:50px; height:50px; background-position: -53px -1px}
a.active .main-1{width:50px; height:50px; background-position: -1px -1px}
.main-2 {width:50px; height:50px; background-position: -157px -1px}
a.active .main-2{width:50px; height:50px; background-position: -105px -1px}
.main-3 {width:50px; height:50px; background-position: -261px -1px}
a.active .main-3{width:50px; height:50px; background-position: -209px -1px}
.main-4 {width:50px; height:50px; background-position: -365px -1px}
a.active .main-4{width:50px; height:50px; background-position: -313px -1px}
.main-5 {width:50px; height:50px; background-position: -469px -1px}
a.active .main-5{width:50px; height:50px; background-position: -417px -1px}

.more-arrow{width:17px; height:17px;display: inline-block;overflow: hidden;vertical-align: top;background-repeat: no-repeat;background-image:url(../images/icon-place-more.png);transform: scale(.7);}

@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1461414952'); /* IE9*/
    src: url('iconfont.eot?t=1461414952#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1461414952') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1461414952') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1461414952#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jian:before { content: "\e603"; }
.icon-date:before { content: "\e604"; }
.icon-plane:before { content: "\e605"; }
.icon-bus:before { content: "\e606"; }
.icon-loca:before { content: "\e607"; }
.icon-edit:before { content: "\e61f"; }
.icon-preview:before { content: "\e620"; }
.icon-delete:before { content: "\e608"; }
.icon-search:before { content: "\e601"; }
.icon-filter:before { content: "\e602"; }
.icon-lodging:before { content: "\e609"; }
.icon-add:before { content: "\e60a"; }
.icon-tag:before { content: "\e60b"; }
.icon-guanbi:before { content: "\e60c"; }
.icon-scheduleunpressed:before { content: "\e600"; }
.icon-favorite { font-size: 20px;}
.icon-favorite:before { content: "\e60e"; }
a.active > .icon-favorite:before, .icon-favorite.active:before { content: "\e61e"; }
.icon-back:before { content: "\e60f"; }
.icon-share{ font-size: 18px;}
.icon-share:before { content: "\e610"; }
.icon-location:before { content: "\e611"; }
.icon-article-back:before { content: "\e612"; }
.icon-dui:before { content: "\e613"; }
.icon-report:before { content: "\e614"; }
.icon-phone:before { content: "\e615"; }
.icon-notes:before { content: "\e616"; }
.icon-plus:before { content: "\e617"; }
.icon-cai:before { content: "\e618"; }
.icon-zan:before { content: "\e619"; }
.icon-tiwen:before { content: "\e61a"; }
.icon-mail:before { content: "\e61b"; }
.icon-radio{
    background: #eee;
    border-radius: 50%;
    color: #ccc;
    margin-right: .25rem;
}
.radio-btn + input[type=radio], .radio-btn + input[type=checkbox]{ display: none; }
.icon-radio:before { content: "\e61c"; }
input[type=radio]:checked + .radio-btn > .icon-radio, input[type=checkbox]:checked + .radio-btn > .icon-radio{
    color: #eb6542;
    background: #fff;
    transition: all .35s;
}
input[type=radio]:checked + .radio-btn > .icon-radio:before, input[type=checkbox]:checked + .radio-btn > .icon-radio:before{ content: "\e60d"; }
.icon-comment:before { content: "\e61d"; }
